/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* @import "bootstrap"; */

 /* 列ホバーのスタイル */
 .table-hover-column tbody tr:hover td,
 .table-hover-column tbody tr:hover th {
  background-color: inherit;
 }
 
 .table-hover-column tbody td:hover,
 .table-hover-column tbody th:hover {
  background-color: #ffebcc !important; /* 明るい薄いオレンジ */
 }

 .highlight {
  background-color: #ffebcc !important; /* 明るい薄いオレンジ */
 }

/* ヘッダーのスタイル */
.highlighted-date {
  background-color: #007bff !important; /* 青系の背景色 */
  color: #ffffff !important; /* 白色のテキスト */
  font-weight: bold; /* 太字 */
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* スクロール可能にする */
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  color: #007bff;
}